.ser{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230322/pngtree-the-devops-software-development-it-concept-devops-software-development-it-concept-photo-image_2078003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}