
.toolbar {
    background: linear-gradient(to right, #f3f3f3, #f4f6f7);
    position: fixed;
}


.toolbar .MuiTypography-root {
    flex-grow: 1;
}


.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.2s ease;
    transform-origin: bottom;
   
    
}


.nav-list a:hover {
    color: #15e6d1;
    transform: scale(1.1);
}


.nav-list a[data-link="home"]:before,
.nav-list a[data-link="contact"]:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: linear-gradient(to right, #FFC107, #FF9800);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.nav-list a[data-link="home"]:hover:before,
.nav-list a[data-link="contact"]:hover:before {
    transform: scaleX(1);
}
.na{
    background-color: aquamarine;
}